body {
  margin: 0;
  padding: 0;
}

.wraper {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider__window {
  width: 456px;
  overflow: hidden;
  margin: 0 20px;
  padding: 0;
}

.slider__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.slider__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 150px;
  height: 150px;
  font-size: 40px;
  background-color: antiquewhite;
  border: 1px solid grey;
}

.slider__controls {
  text-decoration: none;
  font-size: 40px;
  color: lightblue;
}

.slider__controls:hover {
  color: lightcoral;
}

.slider__controls_prev {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}
