.wraper {
    margin: 0 auto;
    padding: 0;
    width: 940px;
    padding-top: 80px;
}

.number {
    margin-right: 20px;
}

.color {
}

.container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.block {
    width: 100px;
    height: 100px;
    margin-right: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid grey;
    &__text {
        font-size: 30px;
    }
}
